:host {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-right: 8px;
}

input {
  margin-bottom: 16px;
}
