  <mat-horizontal-stepper [linear]="false" #stepper>

    <mat-step [stepControl]="firstFormGroup" label="Informational">
        <p>By adding a venue you will be able to track the amount of visitors your venue gets and meet your COVID requirements</p>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Name">
      <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <mat-label>Name of the venue</mat-label>
          <input formControlName="venueName" matInput placeholder="E.x Peter's Barbershop" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup" label="Address">
      <form [formGroup]="thirdFormGroup">
        <mat-form-field>
          <mat-label>Address of the venue</mat-label>
          <input matInput formControlName="venueAddress" placeholder="Ex. 1 Main St, New York, NY" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="forthFormGroup" label="Working Hours">
      <form [formGroup]="forthFormGroup">
        <mat-form-field>
          <mat-label>WorkingHours</mat-label>
          <div>
              <input matInput type="time-local" formControlName="workingHoursMondayStart">
              <input matInput formControlName="workingHoursMondayStart">
              <input matInput formControlName="workingHoursMondayStart">
              <input matInput formControlName="workingHoursMondayStart"> 
              <input matInput formControlName="workingHoursMondayStart">
              <input matInput formControlName="workingHoursMondayStart">
              <input matInput formControlName="workingHoursMondayStart">
              <input matInput formControlName="workingHoursMondayStart">
              <input matInput formControlName="workingHoursMondayStart">
              <input matInput formControlName="workingHoursMondayStart">
              <input matInput formControlName="workingHoursMondayStart">
              <input matInput formControlName="workingHoursMondayStart">
              <input matInput formControlName="workingHoursMondayStart">
              <input matInput formControlName="workingHoursMondayStart">
          </div>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step [stepControl]="fifthFormGroup" label="Overview">
        <form [formGroup]="fifthFormGroup">
          <mat-form-field>
            <input matInput formControlName="venueOverview" placeholder="Ex. 1 Main St, New York, NY" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

  </mat-horizontal-stepper>
  