.example-stepper {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

.workingHoursForm{
  width: 100%;
  height: 100%;
  background-color: purple;
  display: flex;
  flex-wrap: wrap;
}

.workingHoursInputBox{
  margin: 1.5%
}

