<ng-container *ngIf="user$ | async as user; else notSignedIn">
  <h2>You are logged in as: {{ user.name | titlecase }}</h2>
  <pre>{{ user | json }}</pre>
  <button (click)="signout()">Log out</button>
  <a [routerLink]="['/user']" routerLinkActive="router-link-active">Go to the user page</a> 
  <h5>This step will be skipped and the user will be redirected to the main screen of the app if he's not logging in
    for the first time
  </h5>
</ng-container>

<ng-template #notSignedIn>
  <h2>You are not signed in yet</h2>
  <button (click)="signup()">login with Google</button>
</ng-template>
<br>
